<template>
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <img src="assets/images/background.png" class="bg-img" />
        <img src="assets/images/logo-val2.svg" class="logo1" />
        <router-link to="home" style="color:white;text-decoration:none">
            <img src="assets/images/logo-solustar.svg" class="logo2" />
        </router-link>

        <div class="col-md-12" style="position:absolute;top:20%;left:50%;transform: translate(-50%, -50%);">
            <h1  style="width: 1538px;height: 120px;text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);font-size: 88px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: normal;text-align: center;color: #ffffff;">Please scan your passport below</h1>
        </div>
        <router-link to="check-in2">
        <div class="col-md-12" style="position:absolute;top:55%;left:50%;transform: translate(-50%, -50%);">
            <img src="assets/images/scan-passport.svg" style="width: 450px;height: 435px;"/>
            <!-- <h1 style="color:white;font-weight:normal;">Click here first !!!</h1> -->
        </div>
        </router-link>
        <div class="col-md-12" style="position:absolute;top:87%;left:17%;transform: translate(-50%, -50%);">
            <router-link to="home" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #365dfd;position:absolute;top:11%;left:45%;transform: translate(-50%, -50%);">Cancel</h2></button>
            </router-link>
        </div>
    </div>

</template>

<script>
    export default {    
        mounted() {
            window.responsiveVoice.speak("Please scan your passport",'US English Female',{rate: 0.9})
        }
    }
</script>

<style>
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
.logo1 {
    position:fixed;
    top:5%;right:3%;
    width: 128.7px;
    height: 76.6px;
}
.logo2 {
    position:fixed;
    top:5%;left:3%;
    width: 128.7px;
    height: 76.6px;
}
</style>