<template>
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <img src="assets/images/background.png" class="bg-img" />

        <div style="position:fixed;top:100px;right:100px;left:100px;bottom:226px;width: 1720px;height: 754px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);background-color: #ffffff;">
            <!-- Data -->
            <h1 style="width: 547px;height: 98px;font-size: 72px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #365dfd;position:fixed;top:80px;left:171px;">Hello, {{ name }}</h1>
            <!-- Data -->
            <h1 style=" width: 900px;height: 57px;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: 1.01px;text-align: left;color: #101010;position:fixed;top:19%;left:56%;">Booking ID&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;085674624</h1>
            <h1 style="width: 638px;height: 57px;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: 1.01px;text-align: left;color: #101010;position:absolute;top:130px;left:5%;">Check In</h1>
            <!-- Data -->
            <h1 style="width: 308px;height: 73px;font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: 0.67px;text-align: left;color: #101010;position:absolute;top:210px;left:5%;">{{ new Date().toLocaleDateString("en-us") }}<br>after 14:00</h1>
            <h1 style="width: 638px;height: 57px;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: 1.01px;text-align: left;color: #101010;position:absolute;top:130px;left:35%;">Check Out</h1>
            <!-- Data -->
            <h1 style="width: 308px;height: 73px;font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: 0.67px;text-align: left;color: #101010;position:absolute;top:210px;left:35%;">Fri, 1/10/2020<br>before 12:00</h1>
            <h1 style="width: 638px;height: 57px;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: 1.01px;text-align: left;color: #101010;position:absolute;top:300px;left:5%;">Guest Name</h1>
            <!-- Data -->
            <h1 style="width: 308px;height: 73px;font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: 0.67px;text-align: left;color: #101010;position:absolute;top:380px;left:5%;">{{ name }}</h1>
            <h1 style="width: 638px;height: 57px;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: 1.01px;text-align: left;color: #101010;position:absolute;top:430px;left:5%;">Room Details</h1>
            <h1 style="width: 308px;height: 73px;font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: 0.67px;text-align: left;color: #101010;position:absolute;top:510px;left:5%;">Room Type</h1>
            <!-- Data -->
            <h1 style="width: 308px;height: 73px;font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: 0.67px;text-align: left;color: #101010;position:absolute;top:510px;left:35%;">Deluxe Room</h1>
            <h1 style="width: 308px;height: 73px;font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: 0.67px;text-align: left;color: #101010;position:absolute;top:560px;left:5%;">No. of Rooms</h1>
            <!-- Data -->
            <h1 style="width: 308px;height: 73px;font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: 0.67px;text-align: left;color: #101010;position:absolute;top:560px;left:35%;">1 Room</h1>
            <h1 style="width: 308px;height: 73px;font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: 0.67px;text-align: left;color: #101010;position:absolute;top:610px;left:5%;">Guest per room</h1>
            <!-- Data -->
            <h1 style="width: 308px;height: 73px;font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: 0.67px;text-align: left;color: #101010;position:absolute;top:610px;left:35%;">2 Guest</h1>

            <div style="position:absolute;top:55%;left:75%;transform: translate(-50%, -50%);">
                <img src="assets/images/hotel-room1.jpg" style="width: 642.4px;height: 511.6px;object-fit: contain;"/>
            </div>
        </div>

        <div class="col-md-12" style="position:absolute;top:90%;left:17%;transform: translate(-50%, -50%);">
            <router-link to="home" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #365dfd;position:absolute;top:11%;left:45%;transform: translate(-50%, -50%);">Cancel</h2></button>
            </router-link>
        </div>
        <!-- <div class="col-md-12" style="position:absolute;top:90%;left:50%;transform: translate(-50%, -50%);">
            <router-link to="" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background:none;border:solid 5px #ffffff">
                <h2 style="width: 100%;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 40px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #ffffff;position:absolute;top:11%;left:50%;transform: translate(-50%, -50%);">Talk to Staff</h2></button>
            </router-link>
        </div> -->
        <div class="col-md-12" style="position:absolute;top:90%;left:83%;transform: translate(-50%, -50%);">
            <!-- <router-link to="check-in3" style="color:white;text-decoration:none"> -->
            <router-link to="check-in5" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #365dfd;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #ffffff;position:absolute;top:11%;left:43%;transform: translate(-50%, -50%);">Proceed</h2></button>
            </router-link>
        </div>
    </div>

</template>

<script>
    export default {    
        data(){
            return{
                name:null,
            }
        },
        mounted() {
            this.name = this.$route.params.name;
            window.responsiveVoice.speak("Hello "+this.name,'US English Female',{rate: 0.9})
        }
    }
</script>

<style>
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
.logo1 {
    position:fixed;
    top:5%;right:3%;
    width: 128.7px;
    height: 76.6px;
}
.logo2 {
    position:fixed;
    top:5%;left:3%;
    width: 128.7px;
    height: 76.6px;
}
</style>