<template>
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <img src="assets/images/background.png" class="bg-img" />
        <img src="assets/images/logo-val2.svg" class="logo1" />
        <router-link to="home" style="color:white;text-decoration:none">
            <img src="assets/images/logo-solustar.svg" class="logo2" />
        </router-link>

        <div class="col-md-12" style="position:absolute;top:20%;left:50%;transform: translate(-50%, -50%);">
            <h1  style="width: 1538px;height: 120px;text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);font-size: 88px;font-weight: 600;
            font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: normal;text-align: center;
            color: #ffffff;">Please sign to acknowledge<br>your booking</h1>
        </div>

        <div style="position:fixed;top:422px;left:172px;right:172px;bottom:293px;
        width: 1576px;height: 365px;border-radius: 18px;border: solid 1px #365dfd;background-color: #ffffff;">
        </div>

        <div class="col-md-12" style="position:absolute;top:90%;left:17%;transform: translate(-50%, -50%);">
            <router-link to="check-in2" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;
                color: #365dfd;position:absolute;top:11%;left:45%;transform: translate(-50%, -50%);">Cancel</h2></button>
            </router-link>
        </div>
        <div class="col-md-12" style="position:absolute;top:90%;left:50%;transform: translate(-50%, -50%);">
            <router-link to="" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background:none;border:solid 5px #ffffff">
                <h2 style="width: 100%;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 40px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;
                color: #ffffff;position:absolute;top:11%;left:50%;transform: translate(-50%, -50%);">Clear</h2></button>
            </router-link>
        </div>
        <div class="col-md-12" style="position:absolute;top:90%;left:83%;transform: translate(-50%, -50%);">
            <router-link to="check-in5" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #365dfd;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;
                color: #ffffff;position:absolute;top:11%;left:43%;transform: translate(-50%, -50%);">Proceed</h2></button>
            </router-link>
        </div>
    </div>

</template>

<script>
    export default {    
        mounted() {
            window.responsiveVoice.speak("Please sign to acknowledge your booking",'US English Female',{rate: 0.9})
        }
    }
</script>

<style>
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
.logo1 {
    position:fixed;
    top:5%;right:3%;
    width: 128.7px;
    height: 76.6px;
}
.logo2 {
    position:fixed;
    top:5%;left:3%;
    width: 128.7px;
    height: 76.6px;
}
</style>