<template>
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <img src="assets/images/background.png" class="bg-img" />

        <div style="position:fixed;top:10%;left:15%;width: 570px;height: 700px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);background-color: #ffffff;">
            <div class="col-md-12" style="position:absolute;top:12%;left:80%;transform:translate(-50%, -50%);">
                <img src="assets/images/Logo Gelap Solu.svg" style="width: 155.8px;height: 155.8px;"/>
            </div>

            <h1 style="position:absolute;top:4%;left:7%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">10 Kaki Bukit Avenue 4.<br>#05-64 Premier<br>@ Kaki Bukit 415874</h1>

            <h1 style="position:absolute;top:19%;left:41%;width: 909px;height: 76px;font-size: 29px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">RECEIPT<br>---------</h1>

            <h1 style="position:absolute;top:31%;left:8%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Invoice No&emsp;&emsp;&emsp;&emsp;: 085674624<br>--------------------------------------------------------------</h1>

            <h1 style="position:absolute;top:37%;left:8%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Name&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: {{ name }}</h1>
            <h1 style="position:absolute;top:41%;left:8%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Room No&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;: 168,169</h1>
            <h1 style="position:absolute;top:45%;left:8%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Check-in&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;: {{ new Date().toLocaleDateString("en-us") }}</h1>
            <h1 style="position:absolute;top:49%;left:8%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Check-out&emsp;&emsp;&emsp;&emsp;: 1/10/2020<br>--------------------------------------------------------------</h1>
            
            <h1 style="position:absolute;top:56%;left:8%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">DELUXE ROOM&nbsp;-&nbsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;210.00&emsp;&emsp;&emsp;&ensp;&nbsp;1,680.00</h1>
            <h1 style="position:absolute;top:60%;left:8%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">2 Room, 4 Nights</h1>

            <h1 style="position:absolute;top:67%;left:8%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Extra Bed For&nbsp;-&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;80.00&emsp;&emsp;&emsp;&ensp;&nbsp;&emsp;320.00</h1>
            <h1 style="position:absolute;top:71%;left:8%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">1 Room, 4 Nights</h1>

            <h1 style="position:absolute;top:75%;left:47%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">-----------------------------------<br>TOTAL:&emsp;&emsp;&emsp;&ensp;&nbsp;&emsp;2,000.00<br>-----------------------------------</h1>

            <h1 style="position:absolute;top:88%;left:31%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">PHONE:&nbsp;+65&nbsp;6514&nbsp;3315</h1>
            <h1 style="position:absolute;top:92%;left:27%;width: 909px;height: 76px;font-size: 20px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">EMAIL:&nbsp;louisloo@solustar.com</h1>
        </div>

        <h1 style="width: 366px;height: 173px;font-size: 72px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.04;letter-spacing: normal;text-align: center;color: #ffffff;position:fixed;top:25%;left:75%;">Enjoy your<br>stay here</h1>
        <div class="col-md-12" style="position:absolute;top:35%;left:65%;transform:translate(-50%, -50%);">
            <img src="assets/images/smile_thankyou.svg" style="width: 325.8px;height: 325.8px;"/>
        </div>

        <!-- <h1 style="width: 375px;height: 65px;font-size: 48px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 0.98;letter-spacing: normal;text-align: left;color: #ffffff;position:fixed;top:57%;left:57%;">Send receipt to :</h1> -->
        <input style="width: 733px;height: 114px;border-radius: 12px;border: solid 1px #365dfd;background-color: #ffffff;font-size:55px;position:fixed;top:67%;left:57%;">

        <div class="col-md-12" style="position:absolute;top:90%;left:17%;transform: translate(-50%, -50%);">
            <!-- <router-link to="check-in4" style="color:white;text-decoration:none"> -->
            <!-- <router-link to="check-in3" style="color:white;text-decoration:none"> -->
            <router-link to="check-in2" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #365dfd;position:absolute;top:11%;left:45%;transform:translate(-50%, -50%);">Cancel</h2></button>
            </router-link>
        </div>
        <div class="col-md-12" style="position:absolute;top:90%;left:83%;transform: translate(-50%, -50%);">
            <router-link to="print" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #365dfd;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #ffffff;position:absolute;top:11%;left:50%;transform: translate(-50%, -50%);">Print</h2></button>
            </router-link>
        </div>
    </div>

</template>

<script>
    export default {    
        data(){
            return{
                name:null,
            }
        },
        mounted() {
            this.name = this.$route.params.name;
            window.responsiveVoice.speak("Enjoy your stay here",'US English Female',{rate: 0.9})
        }
    }
</script>

<style>
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
.logo1 {
    position:fixed;
    top:5%;right:3%;
    width: 128.7px;
    height: 76.6px;
}
.logo2 {
    position:fixed;
    top:5%;left:3%;
    width: 128.7px;
    height: 76.6px;
}
</style>