<template>
  <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <img src="assets/images/background.png" class="bg-img" />

        <div class="cont" style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
            <h1 style="width: 547px;height: 98px;font-size: 72px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #365dfd;position:fixed;top:0px;left:5%;">Feedback Form</h1>
            <h1 style="width: 638px;height: 57px;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: 1.01px;text-align: left;color: #101010;position:absolute;top:130px;left:5%;">Did you enjoy your stay here ?</h1>

            <form>
                <div style="position:relative;top:331px;left:35%;transform: translate(-50%, -50%);">
                    <div class="button">
                        <input type="radio" name="emot" value="Great" id="face1"  ref="emot">
                        <label for="face1" class="container" style="padding-right:50px;">
                            <img src="assets/images/face_1_on.svg" style="width: 152px;height: 152px;">
                        </label>
                        <input type="radio" name="emot" value="Good" id="face2"  ref="emot">
                        <label for="face2" class="container" style="padding-right:50px;">
                            <img src="assets/images/face_2_on.svg" style="width: 152px;height: 152px;">
                        </label>
                        <input type="radio" name="emot" value="Okay" id="face3"  ref="emot">
                        <label for="face3" class="container" style="padding-right:50px;">
                            <img src="assets/images/face_3_on.svg" style="width: 152px;height: 152px;">
                        </label>
                        <input type="radio" name="emot" value="Bad" id="face4"  ref="emot">
                        <label for="face4" class="container" style="padding-right:50px;">
                            <img src="assets/images/face_4_on.svg" style="width: 152px;height: 152px;">
                        </label>
                        <input type="radio" name="emot" value="Terrible" id="face5"  ref="emot">
                        <label for="face5" class="container" style="padding-right:50px;">
                            <img src="assets/images/face_5_on.svg" style="width: 152px;height: 152px;">
                        </label>
                    </div>
                </div>

                <div style="position:absolute;top:470px;left:31%;transform: translate(-50%, -50%);">
                    <td>
                        <label class="container" style="padding-right:100px;display: block;position: relative;padding-left: 15%;margin-bottom: 12px;cursor: pointer;font-size: 32px;font-weight: 600;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;">Compliment
                            <input type="radio" name="type" ref="type" value="Compliment">
                            <span class="checkmark" style="position: fixed;top: 1px;left: 1px;"></span>
                        </label>
                    </td>
                    <td>
                        <label class="container" style="padding-right:100px;display: block;position: relative;padding-left:1%;margin-bottom: 12px;cursor: pointer;font-size: 32px;font-weight: 600;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;">Suggestion
                            <input type="radio" name="type" ref="type" value="Sugestion">
                            <span class="checkmark" style="position: fixed;top: 1px;right: 557px;"></span>
                        </label>
                    </td>
                    <td>
                        <label class="container" style="padding-right:100px;display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 32px;font-weight: 600;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;">Complain
                            <input type="radio" name="type" ref="type" value="Complain">
                            <span class="checkmark" style="position: fixed;top: 1px;right: 250px;"></span>
                        </label>
                    </td>
                </div>
                
                <div style="position:absolute;top:625px;left:49%;transform: translate(-50%, -50%);">
                    <textarea ref="comment" placeholder="Please leave your feedback !!!"  rows="11" cols="210" style="width: 1562px;height: 172px;border: solid 1px #bdbdbd;background-color: #ffffff;font-size: 32px;font-weight: 600;"></textarea>
                </div>
                
                <div class="col-md-12" style="position:absolute;top:90%;left:83%;transform: translate(-50%, -50%);">
                    <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #365dfd;" @click.prevent="createPost" type="submit"> 
                    <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #ffffff;position:absolute;top:11%;left:45%;transform: translate(-50%, -50%);">Submit</h2>
                    </button>
                </div>
            </form>
            <div class="col-md-12" style="position:absolute;top:90%;left:15%;transform: translate(-50%, -50%);">
                <router-link to="home" style="color:white;text-decoration:none">
                    <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;border: solid 3px #365dfd;">
                    <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #365dfd;position:absolute;top:11%;left:50%;transform: translate(-50%, -50%);">Back</h2></button>
                </router-link>
            </div>
        </div>

    
  </div>
</template>

<script>
  export default { 
    props: {
    },  
    data:function() {
      return { 
        //
      };
    }, 
    methods: { 
      createPost() {
        const formData = new FormData();
        formData.append("emot", this.$refs.emot.value);
        formData.append("type", this.$refs.type.value);
        formData.append("comment", this.$refs.comment.value);  
        axios.post("/api/feedback", formData)
          .then(response => { 
            console.log('ok');
            console.log(response.data);
            // this.$router.push('check-in7');
          }) 
          .catch(error => { 
              //
          });

        this.$refs.emot.value = "";
        this.$refs.type.value = "";
        this.$refs.comment.value = "";  


        this.$router.push('check-in7');
      } 
    },
    mounted() {
        window.responsiveVoice.speak("Did you enjoy your stay here ?",'US English Female',{rate: 0.9})
    }
  };
</script>

<style>
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
.cont {
    width: 1720px;
    height: 880px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);
    background-color: #ffffff;
}

.container {
}

/* Hide the browser's default radio button */
    .container input {
    position: fixed;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    height: 32px;
    width: 32px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 10px;
	left: 10px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
}
.button input[type="radio"] {
  display: none;
}

.button input[type=radio]:checked + label > img {
    /* position: fixed;
    top:10%; */
    background: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678134-sign-check-128.png") no-repeat;
}

.button input[type=radio]:hover + label > img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
</style>