<template>
    <div class="container">
        <img src="assets/images/background.png" class="bg-img" />
        <img src="assets/images/logo-val2.svg" class="logo1" />
        <img src="assets/images/logo-solustar.svg" class="logo2" />

        <h1 class="title" style="font-size:89px;position:absolute;top:13%;left:50%;transform: translate(-50%, -50%);">Welcome to Solustar</h1>

        <div class="col-md-12" style="position:absolute;top:51%;left:14%;transform: translate(-50%, -50%);">
            <!-- <router-link to="check-in" style="color:white;text-decoration:none"> -->
                <button @click="toMobile('check-in2')" style="width:400px;height: 400px;border-radius: 18px;box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.45);background-color: #ffffff;"><img src="assets/images/check-in.svg" class="img"/>
                <h2 style="width: 314px;height: 71px;font-size: 52px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1;letter-spacing: normal;text-align: center;color: #101010;padding-left:7%;padding-bottom:10%;">Hotel Check-In</h2></button>
            <!-- </router-link> -->
        </div>
        <div class="col-md-12" style="position:absolute;top:51%;left:38%;transform: translate(-50%, -50%);">
            <!-- <router-link to="mobile" style="color:white;text-decoration:none"> -->
                <button @click="toMobile('mobile2')" style="width:400px;height: 400px;border-radius: 18px;box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.45);background-color: #ffffff;"><img src="assets/images/mobile-regis.svg" class="img"/>
                <h2 style="width: 414px;height: 71px;font-size: 52px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1;letter-spacing: normal;text-align: center;color: #101010;padding-right:57%;padding-bottom:10%;">Mobile Registration</h2></button>
            <!-- </router-link> -->
        </div>
        <div class="col-md-12" style="position:absolute;top:51%;left:63%;transform: translate(-50%, -50%);">
            <router-link to="video" style="color:white;text-decoration:none">
                <button style="width:400px;height: 400px;border-radius: 18px;box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.45);background-color: #ffffff;"><img src="assets/images/play-video.svg" class="img"/>
                <h2 style="width: 314px;height: 71px;font-size: 52px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1;letter-spacing: normal;text-align: center;color: #101010;padding-left:9%;">Play Video</h2></button>
            </router-link>
        </div>
        <div class="col-md-12" style="position:absolute;top:51%;left:87%;transform: translate(-50%, -50%);">
            <router-link to="feedback" style="color:white;text-decoration:none">
                <button style="width:400px;height: 400px;border-radius: 18px;box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.45);background-color: #ffffff;"><img src="assets/images/feedback.svg" class="img"/>
                <h2 style="width: 314px;height: 71px;font-size: 52px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1;letter-spacing: normal;text-align: center;color: #101010;padding-left:8%;padding-bottom:10%;">Feedback Form</h2></button>
            </router-link>
        </div>
        <div style="position:fixed;top:82%;left:25%;">
            <button id="btnStart" class="button" style="width: 1284px;height: 111px;border-radius: 48px;background: none;font-size:60px;color:white;border:none;"><b>Say "Hello Val2" to activate me</b>
            </button>
        </div>
        
        <div @click="dashboard" style="position:fixed;bottom:3%;left:15%;transform: translate(-50%, -50%);text-decoration:none">
            <button class="btn-cncl">Back</button>
        </div>
    </div>

</template>

<script>
    export default {
        data(){
            return {
                star:null,
            }
        },    
        mounted() {
            window.responsiveVoice.speak("Welcome to Solustar",'US English Female',{rate: 0.9});
            if(this.star == null){
                let a = new Main;
                this.star = a;
            }
                
        },
        methods: {
            toMobile(route){
                // this.star.streamStop();
                if(this.star.streaming == true){
                    this.star.streamStop();
                }
                setTimeout(() =>{
					this.$router.push({name: 'mobile', params: { data:route } })
				},500)
            },
            dashboard(){
                this.$router.push('/')
                this.star.streamStop();
            }
        }
    }
</script>

<style>
.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
.logo1 {
    position:fixed;
    top:5%;right:3%;
    width: 128.7px;
    height: 76.6px;
}
.logo2 {
    position:fixed;
    top:5%;left:3%;
    width: 128.7px;
    height: 76.6px;
}
.title {
    width:1384px;height:121px;text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #ffffff;
}
.img {
    padding-top: 10%;
    width: 168.8px;
    height: 168.8px;
}
.btn-cncl {
    width: 300px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background: none;border: solid 3px #ffffff;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #ffffff;
}
.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
}

/* .button:hover {background-color: #3e8e41} */

.button:active {
  border: solid white 10px;
  transform: translateY(4px);
}
</style>