<template>
    <div class="container">
       <h1></h1>
    </div>
</template>
<script>
export default {
    mounted(){
        setTimeout(() => { this.$router.push('/land') }, 2000);
        
    }
}
</script>