<template>
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <img src="assets/images/background.png" class="bg-img" />
        <img src="assets/images/logo-val2.svg" class="logo1" />
        <router-link to="home" style="color:white;text-decoration:none">
            <img src="assets/images/logo-solustar.svg" class="logo2" />
        </router-link>

        <!-- <div class="col-md-12" style="position:absolute;top:20%;left:50%;transform: translate(-50%, -50%);">
            <h1  style="width: 1538px;height: 120px;text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);font-size: 88px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: normal;text-align: center;color: #ffffff;">Please scan your passport below</h1>
        </div>
        <router-link to="mobile2">
        <div class="col-md-12" style="position:absolute;top:55%;left:50%;transform: translate(-50%, -50%);">
            <img src="assets/images/scan-passport.svg" style="width: 450px;height: 435px;"/>
        </div>
        </router-link> -->
        <div class="col-md-12" style="position:absolute;top:87%;left:17%;transform: translate(-50%, -50%);">
            <!-- <router-link to="home" style="color:white;text-decoration:none"> -->
                <button @click="cancel" style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #365dfd;position:absolute;top:11%;left:45%;transform: translate(-50%, -50%);">Cancel</h2></button>
            <!-- </router-link> -->
        </div>
        <div class="col-md-12" style="position:absolute;top:20%;left:0;right:0;z-index:9999">
            <h1>Please Scan Your Passport</h1>
        </div>
        <div class="col-md-12" style="position:absolute;top:20%;left:0;right:0">
            <div class="col-md-12" id="screenscan" style="text-align: center">
                    <video id="video" style="width:auto;height:550px"></video>
                    <canvas id="canvas" width="740" height="550" style="display:none"></canvas>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data(){
            return{
                countDown:5,
                status:'',
                vid:null,
                err:0,
            }
        },    
        mounted() {
            if(window.Main){
                window.streamStop();
            }
            window.responsiveVoice.speak("Please scan your passport",'US English Female',{rate: 0.9})
            // axios.get('/tes')
            // .then(response => {
            //     console.log(response)
            // })
            this.openCamera();
        },
        methods: {
            cancel(){
                this.vid.stop();
                this.countDown = null;
                this.$router.push('home')
            },
            retake(){
                if(this.countDown != null){
                    this.countDown = 5;
                    $("#canvas").css('display','none');
                    $("#video").css('display','');
                    this.openCamera();
                }
               
            },
            openCamera(){
                var video = document.getElementById('video');
                var vendorUrl = window.URL || window.webkitURL;

                navigator.getMedia = navigator.getUserMedia ||
                                     navigator.webkitGetUserMedia ||
                                     navigator.mediaDevices.getUserMedia ||
                                     navigator.msGetUserMedia;
                    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                      // Not adding `{ audio: true }` since we only want video now
                      navigator.mediaDevices.getUserMedia({ video: true }).then((stream) => {
                      //video.src = window.URL.createObjectURL(stream);
                        video.srcObject = stream;
                        video.play();
                        this.vid = stream.getTracks()[0];
                      });
                      this.countDownTimer();
                    }
            },
            countDownTimer() {
                if(this.countDown > 0) {
                    setTimeout(() => {
                        this.countDown -= 1
                        this.countDownTimer()
                    }, 1000)
                }else if(this.countDown == 0){
                    $("#canvas").css('display','');
                    var screenscan = document.getElementById("screenscan");
                    var cv = document.getElementById("canvas");
                    var context = cv.getContext('2d');
                    var video = document.getElementById('video');
                    context.drawImage(video, 0, 0, 733, 550);
                    // document.getElementById("video").style.display = "none";
                    $("#video").css('display','none')
                    // var stream = video.srcObject;
                    // let tracks = stream.getTracks();

                    // tracks.forEach(function(track){
                    //     track.stop();
                    // })
                    this.vid.stop();
                    this.saveImage();
                }
            },
            saveImage(){
                // this.vid = stream.getTracks()[0];
                // this.vid.stop();
                var image = canvas.toDataURL("image/png");
                axios.post('/ocr_scan',{base64: image})
                .then(response => {
                    if(response.data.name == ''){
                        if(this.countDown != null){
                            this.err= this.err+1;
                            if(this.err >= 3){
                                alert('The image is not clear')
                                this.$router.push('home')
                            }else{
                                this.retake();
                            }
                            
                        }
                    }else{
                        this.$router.push({name: this.$route.params.data, params: { name:response.data.name } })
                    }
                })
                .catch(error => {
                    this.err = this.err+1;
                    console.log(this.err)
                    if(this.err >= 3){
                        alert('The image is not clear')
                        this.$router.push('home')
                    }else{
                        this.retake();
                    }
                    
                })
            }
        }
    }
</script>

<style>
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
.logo1 {
    position:fixed;
    top:5%;right:3%;
    width: 128.7px;
    height: 76.6px;
}
.logo2 {
    position:fixed;
    top:5%;left:3%;
    width: 128.7px;
    height: 76.6px;
}
</style>