<template>
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <img src="assets/images/background.png" class="bg-img" />
        <img src="assets/images/logo-val2.svg" class="logo1" />
        <router-link to="home" style="color:white;text-decoration:none">
            <img src="assets/images/logo-solustar.svg" class="logo2" />
        </router-link>

        <div class="col-md-12" style="position:absolute;top:20%;left:50%;transform: translate(-50%, -50%);">
            <h1  style="width: 1538px;height: 120px;text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);font-size: 88px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: normal;text-align: center;color: #ffffff;">Please collect your mobile sim<br>at the bottom of the screen</h1>
        </div>
        <!-- <router-link to="check-in7"> -->
        <div class="col-md-12" style="position:absolute;top:60%;left:50%;transform: translate(-50%, -50%);">
            <img src="assets/images/collect_simcard.svg" style="width: 450px;height: 435px;"/>
        </div>
        <!-- </router-link> -->
    </div>

</template>

<script>
    export default {    
        mounted() {
            window.responsiveVoice.speak("Please collect your mobile sim at the bottom of the screen",'US English Female',{rate: 0.9})

            axios.get('/card2')
            .then(response => {
                console.log(response)
            })

            setTimeout(() => {
            this.$router.push('check-in7')
            }, 10000)
        }
    }
</script>

<style>
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
.logo1 {
    position:fixed;
    top:5%;right:3%;
    width: 128.7px;
    height: 76.6px;
}
.logo2 {
    position:fixed;
    top:5%;left:3%;
    width: 128.7px;
    height: 76.6px;
}
</style>