<template>
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <img src="assets/images/background.png" class="bg-img" />
        <img src="assets/images/logo-val2.svg" class="logo1" />
        <router-link to="home" style="color:white;text-decoration:none">
            <img src="assets/images/logo-solustar.svg" class="logo2" />
        </router-link>

        <div class="col-md-12" style="position:absolute;top:40%;left:50%;transform: translate(-50%, -50%);">
            <img src="assets/images/sim-cardz.svg" style="width: 856px;height: 475px;background-image: linear-gradient(61deg, #365dfd, #2e3092 100%);"/>
        </div>
        <h1  style="position:absolute;top:48%;left:34%;transform: translate(-50%, -50%);width: 218px;height: 71px;text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);font-size: 52px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: normal;text-align: center;color: #ffffff;">{{ name }}</h1>
        <!-- <h1  style="position:absolute;top:55%;left:33%;transform: translate(-50%, -50%);width: 180px;height: 39px;text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);font-size: 29px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: normal;text-align: center;color: #ffffff;">Number</h1> -->

        <div class="col-md-12" style="position:absolute;top:73%;left:50%;transform: translate(-50%, -50%);">
            <h1  style="width: 1538px;height: 120px;text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);font-size: 88px;font-weight: 550;font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: normal;text-align: center;color: #ffffff;">Do you want to continue ?</h1>
        </div>
        <div class="col-md-12" style="position:absolute;top:87%;left:17%;transform: translate(-50%, -50%);">
            <router-link to="mobile" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #365dfd;position:absolute;top:11%;left:45%;transform: translate(-50%, -50%);">Cancel</h2></button>
            </router-link>
        </div>
        <div class="col-md-12" style="position:absolute;top:87%;right:1%;transform: translate(-50%, -50%);">
            <router-link to="mobile3" style="color:white;text-decoration:none">
                <button style="width: 375px;height: 103px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #365dfd;;">
                <h2 style="width: 96px;height: 57px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 42px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: center;color: #ffffff;position:absolute;top:11%;left:50%;transform: translate(-50%, -50%);">Next</h2></button>
            </router-link>
        </div>
    </div>

</template>

<script>
    export default {    
        data(){
            return{
                name:null,
            }
        },
        mounted() {
            this.name = this.$route.params.name;
            window.responsiveVoice.speak("Do you want to continue ?",'US English Female',{rate: 0.9})
            // axios.post('/scan')
            // .then(response => {
            //     console.log(response)
            // })

            axios.get('/card1')
            .then(response => {
                console.log(response)
            })

            setTimeout(() => {
                axios.get('/scan')
                .then(response => {
                    console.log(response)
                })
            }, 3000)
        }
    }
</script>

<style>
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
.logo1 {
    position:fixed;
    top:5%;right:3%;
    width: 128.7px;
    height: 76.6px;
}
.logo2 {
    position:fixed;
    top:5%;left:3%;
    width: 128.7px;
    height: 76.6px;
}
</style>