<template>
    <div class="container">

        <div style="position:fixed;top:100px;left:20%;width: 400px;height: 500px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);background-color: #ffffff;">
            <div class="col-md-12" style="position:absolute;top:14%;left:80%;transform:translate(-50%, -50%);">
                <img src="assets/images/Logo Gelap Solu.svg" style="width: 105.8px;height: 105.8px;"/>
            </div>

            <h1 style="position:absolute;top:6%;left:7%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">10 Kaki Bukit Avenue 4.<br>#05-64 Premier<br>@ Kaki Bukit 415874</h1>

            <h1 style="position:absolute;top:19%;left:41%;width: 909px;height: 76px;font-size: 23px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">RECEIPT<br>---------</h1>

            <h1 style="position:absolute;top:31%;left:8%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Invoice No&emsp;&emsp;&emsp;&emsp;: 9685674624<br>---------------------------------------------------------------</h1>

            <h1 style="position:absolute;top:37%;left:8%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Name&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: {{ name }}</h1>
            <h1 style="position:absolute;top:41%;left:8%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Room No&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;: 168,169</h1>
            <h1 style="position:absolute;top:45%;left:8%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Check-in&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;: {{ new Date().toLocaleDateString("en-us") }}</h1>
            <h1 style="position:absolute;top:49%;left:8%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Check-out&emsp;&emsp;&emsp;&emsp;: 1/10/2020<br>---------------------------------------------------------------</h1>
            
            <h1 style="position:absolute;top:56%;left:8%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">DELUXE ROOM&nbsp;-&nbsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;210.00&emsp;&emsp;&emsp;&ensp;&nbsp;1,680.00</h1>
            <h1 style="position:absolute;top:60%;left:8%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">2 Room, 4 Nights</h1>

            <h1 style="position:absolute;top:67%;left:8%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">Extra Bed For&nbsp;-&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;80.00&emsp;&emsp;&emsp;&ensp;&nbsp;&emsp;320.00</h1>
            <h1 style="position:absolute;top:71%;left:8%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">1 Room, 4 Nights</h1>

            <h1 style="position:absolute;top:75%;left:47%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">-----------------------------------<br>TOTAL:&emsp;&emsp;&emsp;&ensp;&nbsp;&emsp;2,000.00<br>-----------------------------------</h1>

            <h1 style="position:absolute;top:88%;left:31%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">PHONE:&nbsp;+65&nbsp;6514&nbsp;3315</h1>
            <h1 style="position:absolute;top:92%;left:27%;width: 909px;height: 76px;font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;text-align: left;color: #101010;">EMAIL:&nbsp;louisloo@solustar.com</h1>
        </div>

    </div>

</template>

<script>
    export default {    
        data(){
            return{
                name:null,
            }
        },
        mounted() {
            this.name = this.$route.params.name;
            window.print();
            setTimeout(() => {
            this.$router.push('check-in6')
            }, 100)
        }
    }
</script>

<style>
.logo2 {
    position:fixed;
    top:5%;left:3%;
    width: 128.7px;
    height: 76.6px;
}
</style>