<template>
    <div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <img src="assets/images/background.png" class="bg-img" />
        <video controls autoplay id="myVideo" src="assets/videos/robot_video.mp4"></video>

        <div class="col-md-12" style="position:absolute;top:11%;left:13%;transform: translate(-50%, -50%);">
            <router-link to="home" style="text-decoration:none">
                <button style="width: 291px;height: 80px;border-radius: 48px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);border: solid 3px #ffffff;background: none;">
                <h2 style="width: 74px;height: 43px;font-size: 32px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.34;letter-spacing: normal;text-align: center;color: #ffffff;position:absolute;top:15%;left:48%;transform: translate(-50%, -50%);">Back</h2></button>
            </router-link>
        </div>
    </div>

</template>

<script>
</script>

<style>
.bg-img {
    position: fixed;
    right: 0;bottom: 0;
    width: 1920px;
    height: 1080px;
    filter: blur(4px);
}
#myVideo {
    position:fixed;
    right: 0;bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
</style>